* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "PingFangSC-Medium" !important;
    padding: 80px 0 66px 0;
    overflow-x: hidden;
    background: #f5f5f5
}

.am-monospace {
    font-family: "PingFangSC-Medium" !important;
}

ul {
    margin: 0 !important;
    padding: 0 !important;
}

li {
    list-style: none;
}

p {
    margin: 0 !important;
}

button:focus {
    border: none !important;
    outline: none;
}

.maxwidth_1200 {
    max-width: 1080px;
}

img {
    max-width: 100%;
}


/* 颜色 */
.c_white {
    color: #fff;
}

.c_green {
    color: #20d794;
}

.c_black {
    color: #1d1d1d;
}

.c_ad {
    color: #adadad;
}

.bg_white {
    background-color: #fff;
}

.bg_green {
    background-color: #20d794;
}

.bg_fa {
    background-color: #fafafa;
}

.dpn {
    display: none;
}

.dp_block {
    display: block;
}

.dp_inblock {
    display: inline-block;
}

.mg_auto {
    margin: 0 auto;
}

.ps_a {
    position: absolute;
}

.ps_r {
    position: relative;
}

.t_l {
    text-align: left;
}

.t_c {
    text-align: center;
}

.t_r {
    text-align: right;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.mg_t10 {
    margin-top: 10px;
}

.mg_b100 {
    margin-bottom: 100px;
}


/* liuchanglong */
.isshadow {
    box-shadow: 0 0 14px 2px #f7f7f7;
}

.headfixed {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
}

.headbox {
    height: 80px;
}

.headbox-logo {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: left center;
    /*background-size:80px 30px;*/
    height: 80px;
    /* width: 65; */
}

.headbox-list li {
    float: left;
}

.headbox-list li a {
    height: 80px;
    line-height: 80px;
    margin: 0 20px;
    color: #4a4a4a;
    font-size: 18px;
    font-weight: 400;
    position: relative;
}

.headbox-list li a.act {
    color: #20d794;
}

.headbox-list li a.act:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 2px;
    background: #20d794;
    width: 50%;
}

.headbox-p,
.headbox-appbtn {
    height: 80px;
    line-height: 80px;
    font-size: 14px;
}

.headbox-p {
    color: #adadad;
    padding: 0 !important;
}

.headbox-p .tel-number {
    font-size: 16px;
}

.headbox-appbtn {
    text-align: right;
}

.headbox-appbtn button {
    width: 100px;
    height: 30px;
    color: #20d794;
    background: #fff;
    border: 1px solid #20d794;
    border-radius: 20px;
    cursor: pointer;
    transition: all .6s;
    margin-left: 30px;
}

.headbox-appbtn button:hover {
    background: #20d794;
    color: #fff;
}

.bannerbox {
    max-height: 500px;
    overflow: hidden;
}

.bannerbox ul li img {
    height: 100%;
    width: 100%;
}

.bannerbox.am-slider-default .am-viewport {
    height: 500px;
}

.text-box {
    position: absolute;
    width: 600px;
    height: 500px;
    top: 0;
    left: -540px;
    right: 0;
    margin: 0 auto;
}

.text-box h3 {
    color: #fff;
    font-size: 36px;
    margin: 24% 0 10px 0;
}

.text-box .text-subtitle {
    color: #d4ff30;
    font-size: 28px;
}

.text-box button {
    height: 40px;
    width: 150px;
    background: #fff;
    color: #20d794;
    text-align: center;
    border-radius: 30px;
    transition: all .6s;
    margin: 10% 0 10px 0;
}

.text-box button:hover {
    box-shadow: 0 0 16px 2px #f4f4f4;
}

.text-box .text {
    color: #fff;
    font-size: 11px;
    transform: scale(.9)
}

.banner-book {
    position: absolute;
    width: auto;
    height: 293px;
    bottom: 0;
    /*left:-540px;*/
    right: 0;
    margin: 0 auto;
}

.course-box {
    margin: 30px auto 70px auto;
    transition: all .6s;
}

.course-box .am-tabs-bd,
.course-box .am-nav-tabs,
.course-box .am-nav-tabs li a,
.course-box .am-nav-tabs li.am-active a,
.course-box .am-nav-tabs li.am-active a:hover .course-box .am-nav-tabs li.am-active a:focus {
    border: none !important;
}

.course-box .am-nav-tabs li a {
    color: #757575;
    font-size: 16px;
    transition: all .3s;
}

.course-box .am-nav-tabs li a:hover,
.course-box .am-nav-tabs li a:focus {
    background: none;
}

.course-box .am-nav-tabs li.am-active a {
    color: #4a4a4a;
    font-weight: 600;
    font-size: 22px;
}

.course-box .am-nav-tabs li.am-active a:after {
    content: '';
    position: absolute;
    width: 40%;
    height: 3px;
    background: #20d794;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.course-box ul.am-nav-tabs {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    height: 50px;
    ;
}

.course-box .am-tabs-bd {
    margin-top: 20px;
}

.course-list {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

/*.course-list li{*/
/*margin:0 30px 40px 30px;*/
/*}*/
.course-list .card-left {
    margin: 0 2.5% 8% 0;
    width: 30%;
}

.course-list .card-center {
    margin: 0 2.5% 8% 2.5%;
    width: 30%;
}

.course-list .card-right {
    margin: 0 0 8% 2.5%;
    width: 30%;
}


.course-list li a {
    transition: all .4s;
}

.course-list li:hover a {
    transform: translateY(-10px);
    box-shadow: 0 0 16px 4px #f4f4f4;
}

.course-list li a {
    display: block;
    height: auto;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 26px 10px #f6f6f6;
}

.course-list li a .course-imgbox {
    max-height: 210px;
    width: 100%;
    position: relative;
}

.course-imgbox img {
    height: 100%;
    width: 100%;
}

.course-info {
    position: absolute;
    right: 20%;
    top: 30%;
}

.course-info h3 {
    font-size: 20px;
    color: #cdfd35;
    margin: 0;
}

.course-info p {
    color: #fff;
    font-size: 12px;
    margin-top: 4px;
    transform: scale(.9)
}

.course-content {
    padding: 10px;
}

.course-content .tips {
    padding: 4px;
    background: #ef6563;
    color: #fff;
    font-size: 14px;
    height: 22px;
    line-height: 16px;
    float: left;
    transform: scale(.9);
    margin-right: 6px;
}

.course-content .course-title {
    height: 74px;
    color: #4a4a4a;
    font-size: 16px;
    width: 90%;
    float: left;
    font-weight: 600;
}

.course-start {
    font-size: 10px;
}

.course-start.yellow {
    color: #f5c464;
}

.course-start.grey {
    color: #d8d8d8;
}

.course-score {
    margin-top: 80px;
}

.course-foot {
    font-size: 14px;
    color: #adadad;
}

.course-price {
    color: #ef6563;
    float: right;
    /* margin-top: -15px; */

}

.course-price span:last-child {
    font-family: "DINAlternate-Bold" !important;
    font-size: 28px;
}

.video-intro {
    width: 100%;
    height: 370px;
    margin: 0 auto;
    overflow: hidden;
}

.video-box {
    height: 190px;
    width: auto;
}

.intro-left {
    padding: 10% 0;
    text-align: center;
}

.intro-right {
    padding-top: 7.5%;
}

.intro-right h1 {
    font-family: DINAlternate-Bold;
    font-size: 58px;
    color: #f2f2f2;
    letter-spacing: -1.74px;
    margin: 0;
}

.intro-right h4 {
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: PingFangSC-Semibold;
    font-size: 28px;
    color: #20d794;
    letter-spacing: -0.87px;
}

.intro-right h4:after {
    position: absolute;
    content: '';
    border-bottom: 3px solid #20d794;
    bottom: -5px;
    left: 0;
    width: 30px;
}

.intro-right p {
    font-size: 16px;
    color: #888888;
}

.intro-right button {
    color: #fff;
    background-image: linear-gradient(0deg, #25caa8 0%, #20d794 98%);
    border-radius: 30.5px;
    width: 154px;
    height: 45px;
    margin-top: 25px;
}

.reason-top {
    position: relative;
    text-align: center;
    margin: 6% 0 4% 0;
}

.reason-top h1 {
    font-family: DINAlternate-Bold;
    font-size: 58px;
    color: #f2f2f2;
    letter-spacing: -1.74px;
    margin: 0;
}

.reason-top h4 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    font-family: PingFangSC-Semibold;
    font-size: 28px;
    color: #20d794;
    width: 300px;
    margin: 0 auto;
}

.reason-top h4:after {
    position: absolute;
    content: '';
    border-bottom: 3px solid #20d794;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 30px;
}

.reason-item {
    text-align: center;
    margin-bottom: 5%;
}

.reason-item img {
    height: 82px;
    width: 72px;
}

.reason-item h6 {
    font-size: 16px;
    color: #282828;
    margin: 12px 0 5px 0;
    font-weight: 500;
}

.reason-item p {
    font-size: 14px;
    color: #adadad;
    padding: 0 10px;
    transform: scale(.9);
}

.feedback-box {
    position: relative;
    clear: both;
    width: 100%;
    height: 530px;
    background-image: url('../images/Bitmap.png');
    background-repeat: no-repeat;
    background-size: 100% 101%;
    background-position: center;
}

.feedback-box .reason-top {
    margin-left: 200px;
}

.feedback-box .reason-top h1 {
    opacity: 0.23;
}

.feedback-box .reason-top h4 {
    color: #d4ff30;
    width: 100%;
    margin: 0 auto 0 -100px;
}

.feedback-box .reason-top h4:after {
    color: #d4ff30;
    margin: 0 auto 0 45%;
    left: 0;
    border-bottom: 3px solid #d4ff30;
}

.feedback-img {
    max-height: 360px;
}

.feedback-logo {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 24%;
    bottom: 0;
}

.download-box {
    clear: both;
    width: 100%;
    height: 350px;
    background-image: url('../images/download-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding-top: 60px;
}

.download-left {
    text-align: center;
}

.download-left h2 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 0;
}

.download-text {
    background-image: url('../images/line-left.png'), url('../images/line-right.png');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 0 center, 100% center;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #d4ff30;
    width: 235px;
    margin: 0 auto !important;
}

.download-btn {
    margin-top: 30px;
}

.download-btn button {
    background: #ffffff;
    border-radius: 30.5px;
    width: 158px;
    height: 41px;
    background: #fff;
    color: #20d794;
    transition: all .3s;
    margin: 0 20px;
}

.download-btn button:hover {
    box-shadow: 0 0 16px 2px #f4f4f4;
}

.download-right {
    height: 145px;
    width: 145px;
    background: rgba(255, 255, 255, .8);
    padding: 4px;
    margin: 10px auto 0 auto;
}

.download-right img {
    height: 100%;
    width: 100%;
}

.footer {
    background: #333;
    font-size: 14px;
    color: #9b9b9b;
    clear: both;
    font-family: "PingFangSC-Medium" !important;
    height: 160px;
    padding-top: 50px;
}

.footer-box {
    height: 40px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-box ul li {
    float: left;
    margin: 0 3px;
}

.footer-box ul li a {
    color: #9b9b9b;
}

.footer-box ul li.right-line a:after {
    content: '';
    position: absolute;
    right: 0;
    height: 1px;
    background: #9b9b9b;
}

.footer-box ul li.right-line .tel {
    color: #eb3b0f;
}

.no-course {
    height: 250px;
    width: 314px;
    text-align: center;
    margin: 40px auto;
}

.no-course img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.layer-bgimg {
    height: 100%;
    width: 100%;
}

.close-img {
    height: 60px;
    width: 60px;
    position: absolute;
    right: -5px;
    top: -5px;
    transition: all .4s;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
}

.close-img:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    cursor: pointer;
}

.backtop-btn {
    position: fixed;
    right: 14%;
    bottom: 20%;
    z-index: 999;
    transition: all .3s;
    opacity: 0;
}

.intro-banner {
    height: 60px;
    line-height: 60px;
    background-image: linear-gradient(0deg, #25caa8 0%, #20d794 98%);
}

.intro-banner h1 {
    font-size: 28px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, .0)) 100%;
    -webkit-background-clip: text;
    color: transparent;
    float: left;
    margin: 0 3px;
}

.intro-banner p {
    text-align: right;
    color: rgba(242, 242, 242, .6);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 20px;
}

.intro-function {
    padding: 6% 0 0 0;
    height: 530px;
}

.intro-fleft-top {
    height: 60px;
    line-height: 60px;
    background-image: url('../images/bg-img1.png');
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
    width: 60%;
}

.intro-fleft-top h6 {
    color: #5d5d5d;
    letter-spacing: 25px;
    font-size: 17px;
    margin: 0;
}

.intro-fleft {
    text-align: left;
    position: relative;
    padding: 0
}

.intro-fleft h4 {
    color: #f1bd5a;
    font-size: 28px;
    font-weight: 600;
    margin: 20% 0 40px 0;
    letter-spacing: 4px;
    width: 60%;
    text-align: center;
}

.intro-fleft p {
    color: #5d5d5d;
    font-size: 14px;
    width: 60%;
    text-align: center;
}

.intro-fleft p span {
    color: #1d1d1d;
    font-weight: 600;
}

.intro-fleft:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background: #f1bd5a;
    left: 38%;
    margin: 0 auto;
    bottom: -30%;
}

.intro-fright img {
    max-width: 74%;
}

.stu-appbox {
    background: #f1bd5a;
    height: 600px;
    padding: 60px 0 0 0;
}

.fleft-top {
    height: 87px;
    width: 260px;
    background-image: url('../images/stu-img2.png');
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 34% 100%;
    word-break: break-all;
    position: relative;
    margin-bottom: 60px;
}

.fleft-top h6 {
    color: #e72d27;
    letter-spacing: 25px;
    font-size: 17px;
}

.fleft-top h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 4px;
    position: absolute;
    left: 35%;
    bottom: 0;
    margin: 0;
    height: 30px;
    line-height: 30px;
    font-family: "Helvetica" !important;
}

.stuapp-right img {
    max-width: 86%;
}

.stuapp-fleft ul li,
.teapp-right ul li {
    color: #175c3a;
    font-size: 15px;
    padding-left: 30px;
    background-image: url('../images/title-bg.png');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 0 0;
    position: relative;
    margin-bottom: 30px;
    font-family: "Helvetica" !important;
}

.list-index {
    color: #fff;
    position: absolute;
    left: 6px;
    top: 0px;
    z-index: 99;
    font-weight: 500;
    font-family: "Helvetica" !important;
}

.ex-text {
    color: #e93d2f;
    display: block;
}

.tea-box {
    height: 600px;
    background-image: linear-gradient(to bottom, #25caa8 0%, #20d794 98%);
    padding: 60px 0 0 0;
}

.teapp-left img {
    max-width: 84%;
}

.teapp-right-top {
    height: 73px;
    width: 100%;
    background-image: url('../images/tea-img.png');
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 89% 0;
    position: relative;
    margin-bottom: 80px;
}

.teapp-right-top h6 {
    color: #f5ea29;
    letter-spacing: 25px;
    font-size: 17px;
    text-align: right;
}

.teapp-right-top h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 4px;
    position: absolute;
    left: 72%;
    bottom: 0;
    margin: 0;
    height: 30px;
    line-height: 30px;
    font-family: "Helvetica" !important;
}

.tea-text {
    color: #fff;
    display: block;
}

.teapp-right ul li {
    background-image: url('../images/tea-img3.png') !important;
}

.join-topbg {
    height: 250px;
    background-image: url('../images/join-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

.join-left h4 {
    color: #20d794;
    letter-spacing: 25px;
    font-size: 17px;
    margin: 28% 0 28% 0;
}

.join-right,
.join-left,
.intro-fleft,
.intro-fright,
.stuapp-fleft,
.stuapp-right,
.teapp-left {
    padding-left: 10% !important;
}

.join-right h3,
.left-chat h3 {
    color: #1d1d1d;
    margin: 60px 0 20px 0;
    font-size: 30px;
    letter-spacing: 4px;
    position: relative;
}

.join-right h3:after,
.left-chat h3:after {
    content: '';
    position: absolute;
    left: 103px;
    bottom: 10px;
    width: 50px;
    height: 13px;
    background: #20d794;
    z-index: -1;
}

.join-right p {
    color: #5d5d5d;
    font-size: 14px;
    word-break: break-all;
    line-height: 30px;
}

.right-imgbox {
    width: 74%;
    height: 160px;
    background-image: url('../images/join-img.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 30% 0 40% 0;
    position: relative;
}

.right-imgbox p {
    color: #2aa17c;
    font-size: 13px;
    letter-spacing: 16px;
    position: absolute;
    left: 40px;
    bottom: -36px;
    font-family: "Helvetica" !important;
}

.left-chat ul li {
    margin: 20px 0;
    font-size: 13px;
}

/* .left-chat ul li:first-child{
    width: 160px;
    height: 20px;
    background-image: url('../images/chat-img4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
} */
.left-chat ul li:nth-child(2) {
    background-image: url('../images/chat-img.png');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 0 center;
    padding-left: 23px
}

.left-chat ul li:nth-child(3) {
    background-image: url('../images/chat-img3.png');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 0 center;
    padding-left: 23px
}

.left-chat ul li:nth-child(4) {
    background-image: url('../images/chat-img2.png');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 0 center;
    padding-left: 23px
}

.police-icon {
    margin: 0 0px 4px 0;
    height: 15px;

}

.logo-png {
    padding: 15px;
}

.logo-img {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    height: 80px;
}

.joinus-img {
    width: 100%;
    margin-bottom: -22px;
}

.free-exper {
    height: 300px;
    width: 300px;
    background-color: #f0f4fb;
}

.bannerbox1 {
    height: 500px;
    overflow: hidden;
    clear: both;
    width: 100%;
    max-height: 500px;
    background-image: url('../images/home/banner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.bannerbox1 .banner-content {
    display: -webkit-flex;
    height: 100%;
    align-items: center;
}

.banner-left {
    padding-left: 90px !important;
    margin-bottom: 40px;
}

.banner-left .free-get {
    height: 33px;
    width: 116px;
    margin-bottom: 0;
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-family: 'Microsoft YaHei';
    font-weight: 300;
    line-height: 33px;
    padding-left: 10px;
    background-image: url(../images/free-get-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner-left .gradient {
    font-size: 50px;
    line-height: 72px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, .0)) 100%;
    -webkit-background-clip: text;
    font-weight: 600;
    font-family: "Microsoft YaHei" !important;
    color: transparent;
}

.banner-left .line1 {
    margin: 0;
}

.banner-left .line2 {
    margin: 0 0 50px 0;
}

.banner-left .barcode-zone {
    display: -webkit-flex;
    height: 134px;
    margin-bottom: 20px;
}

#teacherBarcode {
    width: 134px;
    height: 134px;
}

.banner-left .barcode-text {
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.barcode-text h3 {
    margin: 0;
    font-size: 20px;
    font-family: "Microsoft YaHei";
    font-weight: 500;
    color: rgb(12, 92, 72);
}

[class^=learningdojo] {
    color: rgba(242, 242, 242, .6);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 20px;
}

.learningdojo-text1 {
    display: none;
}

.learningdojo-text2 {
    position: absolute;
    top: -60px;
    left: 0;
}

.book-img {
    max-height: 170px;
    height: auto;
    position: absolute;
    bottom: 0;
    margin-bottom: -20px;
}

.book-container {
    height: 300px;
    font-family: "Microsoft YaHei" !important;
    color: transparent;
}

.book-container h1 {
    font-size: 46px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, .0)) 100%;
    -webkit-background-clip: text;
    font-weight: 600;
    margin-top: -15px !important;
}

.mobile-banner-title {
    position: absolute;
    top: 20px;
    left: 0;
    height: 42px;
    width: 100%;
    background-image: url('../images/banner-title.png');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.book-container h4 {
    font-size: 24px;
    color: white;
    padding-left: 75px;
    font-weight: 400;
    margin-top: -15px;
}

.bottom-plant {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 56px;
}

.user-info {
    border-radius: 10px;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.1);
    padding: 24px;
    height: 300px;
    width: 300px;
    background-color: #f0f4fb;
    font-family: "Microsoft YaHei" !important;
}

.user-info h3 {
    font-size: 18px;
    font-weight: 400;
}

.user-info ul li {
    margin: 20px 0;
    font-size: 13px;
}

.user-info input {
    height: 38px;
    line-height: 38px;
    width: 70%;
    margin-left: 10px;
}

.user-info input:focus {
    outline-offset: -2px;
    outline: none;
}

.user-info ul li:nth-child(1) {
    background: white;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding-left: 20px;
    margin-top: 25px;
}

.user-info ul li:nth-child(2) {
    background: white;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding-left: 20px;
}

.user-info ul li:nth-child(3) {
    background-color: #20d794;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    margin-top: 35px;
    text-align: center;
}

.user-info ul li a {
    color: white;
    font-size: 16px;
    height: 38px;
    width: 100%;
    line-height: 38px;
    display: block;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 7px #fff;
}

.modal-confirm {
    background: #f0f4fb !important;
    border-radius: 10px !important;
    ;
    font-family: "Microsoft YaHei" !important;
    min-height: 250px !important;
    width: 400px !important;
}

.modal-confirm h2 {
    color: #ef6563;
    font-weight: 600;
    margin: 5px 0 20px 0;
    font-size: 16px;
}

.confirm-content {
    display: inline-flex;
    margin-left: 10px;
    font-size: 14px;
}

.confirm-content p {
    text-align: left;
    font-weight: 600;

    padding-left: 20px;
}

.confirm-content img {
    height: 48px;
    width: auto;
}

.confirm-content span {
    font-weight: 400;
    font-family: "Microsoft YaHei" !important;
}

.confirm-tips {
    width: 70%;
    display: inline-flex;
    margin-top: 15px;
}

.confirm-tips p {
    font-size: 12px;
}

.confirm-tips span {
    font-size: 12px;
    color: #f41f1f;
}

.confirm-button {
    background-color: #20d794;
    color: white;
    padding: 4px;
    width: 120px;
    font-size: 13px;
    border-radius: 15px;
    margin-top: 20px;
}

.qr-modal {
    background: #f0f4fb !important;
    border-radius: 10px !important;
    ;
    font-family: "Microsoft YaHei" !important;
    display: inline-flex !important;
    padding: 30px 10px 20px 30px;
}

.qr-left {
    width: 38%;
    text-align: left;
    margin-top: 10px;
}

.qr-left h2 {
    font-size: 20px;
    color: #ef6563;
    margin: 0;
}

.qr-left p {
    font-size: 12px;
}

.qr-left img {
    margin-top: 20px;
    height: 120px;
}

.qr-right {
    width: 62%;
    margin-top: 30px;
}

.mobile-banner-img {
    height: 90px;
    position: absolute;
    bottom: 45px;
    right: 20px;
    z-index: 9;
}

.content-main {
    position: relative;
    max-width: 1080px;
    min-height: 50vh;
    margin: 0 auto;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    overflow: hidden;
    /* opacity: 0; */
}

.content-main img {
    position: absolute;
    z-index: -999;
    opacity: 0;
}

.zhaoshang {
    background-image: url('../images/zhaoshang.jpg');
}

.chanpin {
    background-image: url('../images/chanpin.jpg');
}

.company {
    background-image: url('../images/company.jpg');
}

.advisory {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
}

.clearfix:before {
    display: table;
    content: " ";
}

.advisory .hotline {
    float: left;
    padding-top: 18px;
}

.advisory .hotline span {
    color: #fff;
    font-size: 30px;
}

.advisory .hotline span.hotline_text {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
}

.advisory .buttons {
    float: right;
}

.advisory .buttons a {
    display: block;
    height: 66px;
    width: 145px;
    text-align: center;
    line-height: 66px;
    background-color: #ff5400;
    text-decoration: none;
    color: #fff;
    float: left;
    opacity: 0.9;
}

.comments-input-box {
    width: 100%;
    padding: 0 30px;
    margin-top: 10px;
    color: #000;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.comments-input-box .name {
    display: block;
    font-weight: 500;
    width: 60px;
    text-align: left;
}

.comments-aside {
    display: flex;
    display: -webkit-flex;
    flex: 1;
}

.comments-input-box input {
    flex: 1;
    width: 100%;
    /* padding: 8px 16px;
    border: 1px solid #cfcfcf;
    margin-left: 20px; */
}

.comments-input-box select {
    border-left: none;
    width: 100px;
}

/* 小屏幕 */
@media screen and (max-width: 600px) {

    .headbox-p,
    .book-container,
    .bottom-plant,
    .progressnum,
    .video-introbox,
    .intro-right button,
    .reason-item p,
    .feedback-logo,
    .join-left h4,
    .qr-right {
        display: none;
    }

    .mobile-banner-img,
    .video-introbox.mobile {
        display: block;
    }

    .mobile-banner-title {
        overflow: hidden;
    }

    .headbox-list li a {
        font-size: 14px;
        margin: 0 5px;
    }

    .logo-img {
        background-size: 80%;
    }

    .banner-left {
        padding-left: 0 !important;
    }

    .user-info {
        margin: 0 auto;
        height: 330px;
    }

    .course-box {
        margin: 30px auto 0 auto;
    }

    .course-box .am-nav-tabs li a {
        padding: 10px;
    }

    .course-box .am-nav-tabs li.am-active a {
        font-size: 18px;
    }

    .course-box ul.am-nav-tabs {
        justify-content: center;
        -webkit-justify-content: center;
    }

    .course-list .card-center,
    .course-list .card-left,
    .course-list .card-right {
        width: 45%;
        margin: 2% 2.5%;
    }

    .course-content .course-title {
        font-size: 12px;
        width: 75%;
        padding-top: 2px;
    }

    .course-content .tips {
        transform: scale(.7);
    }

    .course-foot {
        font-size: 12px;
    }

    .course-score {
        transform: scale(.9);
    }

    .course-content {
        padding: 4px;
    }

    .intro-right h1,
    .reason-top h1 {
        font-size: 46px;
    }

    .intro-right h4,
    .reason-top h4,
    .feedback-box .reason-top h4 {
        font-size: 25px;
    }

    .video-intro {
        height: 500px;
    }

    .intro-right h4 {
        bottom: -9px;
    }

    .feedback-box .reason-top {
        margin-left: 0;
    }

    .reason-top h1 {
        font-size: 40px;
    }

    .feedback-img {
        margin-top: 20px;
    }

    .feedback-box {
        height: 380px;
    }

    .download-left {
        margin-left: 0;
        float: initial;
    }

    .download-right {
        margin: 10px auto 0 auto;
        float: initial;
    }

    .download-btn button {
        margin-bottom: 20px;
    }

    .download-box {
        height: 450px;
    }

    .footer {
        padding-top: 22px;
    }

    .footer-box ul li {
        display: none;
    }

    .footer-box ul.first li:nth-child(5) {
        display: block;
    }

    .footer-box ul.second li:nth-child(4) {
        display: block;
    }

    .backtop-btn {
        right: 4%;
    }

    .intro-banner h1 {
        font-size: 18px;
        margin: 0;
    }

    .intro-banner p {
        letter-spacing: 4px;
    }

    .intro-fleft {
        padding: 0 0 100px 0 !important;
    }

    .intro-fleft-top {
        width: 100%;
        text-align: center;
    }

    .intro-fleft-top h6 {
        letter-spacing: 17px;
        font-size: 14px;
    }

    .intro-fleft h4 {
        margin: 15% auto 40px auto;
    }

    .intro-fleft p {
        margin: 0 auto !important;
    }

    .intro-fleft:after {
        right: 0;
        bottom: 50px;
        left: 0;
    }

    .intro-function {
        text-align: center;
        height: 800px;
        padding: 6% 0 6% 0;
    }

    .intro-fright {
        padding: 0 !important;
    }

    .stu-appbox,
    .tea-box {
        height: 900px;
        padding: 38px 0 30px 0;
    }

    .fleft-top h6 {
        letter-spacing: 15px;
    }

    .join-topbg {
        height: 100px;
        overflow: hidden;
    }

    .joinus-img {
        position: absolute;
        bottom: -7px;
        margin-bottom: 8px;
        left: 0;
    }

    .join-left,
    .join-right {
        padding-left: 20px;
    }

    .right-imgbox {
        width: 93%;
        margin: 17% 0 30% 0;
    }

    .right-imgbox p {
        left: 10px;
        bottom: 0;
    }

    .teapp-right-top h2 {
        left: 66%;
        bottom: -8px;
    }

    .no-course img {
        width: 90%;
        height: 90%;
    }

    .qr-modal,
    .qr-modal .am-modal-hd {
        padding: 0;
    }

    .qr-left {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .banner-left {
        margin-left: 50px;
        margin-bottom: 80px;
    }

    .banner-left .free-get {
        height: 20px;
        width: 80px;
        margin-bottom: 4px;
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-family: 'Microsoft YaHei';
        font-weight: 300;
        line-height: 20px;
        padding-left: 10px;
        background-image: url(../images/free-get-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .banner-left .gradient {
        font-size: 30px;
        line-height: 42px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, .0)) 100%;
        -webkit-background-clip: text;
        font-weight: 600;
        font-family: "Microsoft YaHei" !important;
        color: transparent;
    }

    .banner-left .line1 {
        margin: 0;
    }

    .banner-left .line2 {
        margin: 0 0 40px 0;
    }

    .banner-left .barcode-zone {
        display: -webkit-flex;
        height: 90px;
        margin-bottom: 30px;
    }

    #teacherBarcode {
        width: 90px;
        height: 90px;
    }

    .banner-left .barcode-text {
        display: -webkit-flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 22px;
    }

    .barcode-text h3 {
        margin: 0;
        font-size: 14px;
        font-family: "Microsoft YaHei";
        font-weight: 500;
        color: rgb(12, 92, 72);
    }

    .bannerbox1 {
        height: 428px;
        overflow: hidden;
        clear: both;
        width: 100%;
        max-height: 428px;
        background-image: url('../images/home/banner.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }

    .mobile-banner-img {
        bottom: 20px;
    }

    .learningdojo-text1 {
        display: block;
        position: absolute;
        top: -16px;
        font-size: 12px;
        letter-spacing: 16px;
    }

    .learningdojo-text2 {
        display: none;
    }

    .hotline_text {
        font-size: 14px !important;
    }

    .advisory .hotline {
        padding: 10px 0 0 10px !important;
    }

    .advisory .buttons a {
        height: 46px !important;
        width: 105px !important;
        line-height: 46px !important;
    }
}