<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords"
        content="符号树app,在线教育,高中数学必修一,智能在线学习,网校,高中数学视频教学,高中学习,在线辅导高中数学必修一,在线辅导平台,初中辅导课,高中辅导课,数学辅导课,直播课,寒假学习计划" />
    <meta name="description"
        content="符号树是一个面向小学、初中、高中的智能化的学习平台。平台利用人工智能技术对学生的学习行为进行智能分析，构建知识图谱和能力模型，按需推荐针对性内容。同时，也为老师、学生和家长构建了三方互动平台，将学生的学习详情分析及时反馈给家长和老师。" />
    <title>符号树 让每个学生都享有优质的个性化教育</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="{{assets}}i/favicon.png">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{{assets}}i/app-icon72x72@2x.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="symboltree" />
    <meta name="msapplication-TileColor" content="#0e90d2">
    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <link rel="stylesheet" href="./css/amazeui.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" type="image/png" href="./images/favicon.png" sizes="60*60">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/amazeui.min.js"></script>
    <!--[if lte IE 9]>
        <p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，符号树暂不支持。 请 <a
        href="http://browsehappy.com/" target="_blank">升级浏览器</a>
        以获得更好的体验！</p>
    <![endif]-->
</head>

<body>
    <div id="app">
        <!-- 头部nav -->
        <header class="bg_white headfixed">
            <nav class="maxwidth_1200 headbox mg_auto doc-am-g">
                <a href="javascript:;" class="am-u-lg-2 am-u-sm-3 logo-img"></a>
                <ul class="headbox-list am-u-lg-5 am-u-sm-9">
                    <li><a href="index.html" class="am-monospace">公司介绍</a></li>
                    <li><a href="product.html" class="am-monospace">产品介绍</a></li>
                    <li><a href="intro.html" class="act am-monospace">招商合作</a></li>
                    <li><a href="joinus.html" class="am-monospace">加入我们</a></li>
                </ul>
                <p class="t_r dp_inblock headbox-p am-u-lg-4">
                    <!-- <span>技术合作</span>
                    <span class="tel-number">&nbsp;&nbsp;159 8084 8895</span> -->
                    <span class="headbox-appbtn">
                        <button
                            onclick="javascript:document.getElementById('todownload').scrollIntoView()">抢先体验</button>
                    </span>
                </p>

            </nav>
        </header>

        <div id="body-main" class="content-main zhaoshang">
            <img id="img-main" src="./images/zhaoshang.jpg" alt="">
        </div>
        <!-- <section class="intro-banner">
            <div class="maxwidth_1200 mg_auto doc-am-g">
                <div class="am-u-lg-5 am-u-sm-6">
                    <h1>人</h1>
                    <h1>工</h1>
                    <h1>智</h1>
                    <h1>能</h1>
                    <h1>学</h1>
                    <h1>习</h1>
                    <h1>平</h1>
                    <h1>台</h1>
                </div>
                <p class="am-u-lg-7 am-u-sm-6">LEARNINGDOJO</p>
            </div>
        </section> -->

        <!-- 平台功能 -->
        <!-- <section class="maxwidth_1200 mg_auto">
            <div class="doc-am-g intro-function">
                <aside class="am-u-lg-6 am-u-sm-12 intro-fleft">
                    <div class="intro-fleft-top">
                        <h6>FEATURES</h6>
                    </div>
                    <h4>平台功能</h4>
                    <p>符号树智能学习平台主要由</p>
                    <p>
                        <span>学生端、</span>
                        <span>老师端、</span>
                        <span>学习社区</span>
                        三部分组成
                    </p>
                </aside>
                <aside class="am-u-lg-6 am-u-sm-12 intro-fright">
                    <img src="./images/intro-fuc.png" alt="">
                </aside>
            </div>
        </section> -->

        <!-- 学生端 -->
        <!-- <section class="stu-appbox">
            <div class="doc-am-g maxwidth_1200 mg_auto">    
                <aside class="am-u-lg-6 am-u-sm-12 stuapp-fleft">
                    <div class="fleft-top">
                        <h6>STUDENTAPP</h6>
                        <h2>学生端</h2>
                    </div>
                    <ul>
                        <li>
                            <span class="list-index">1</span>
                            录播课程讲解+配套教材文本
                        </li>
                        <li>
                            <span class="list-index">2</span>
                            智能推题+学习资料
                        </li>
                        <li>
                            <span class="list-index">3</span>
                            名师讲解+实时答疑
                            <span class="ex-text">将题目分享到问答平台中，在线助教老师实时解答</span>
                        </li>
                        <li>
                            <span class="list-index">4</span>
                            强大辅助工具（错题本+工具箱）
                        </li>
                        <li>
                            <span class="list-index">5</span>
                            丰富的社交性+（任务制+积分+排名）
                        </li>
                    </ul>
                </aside>
                <aside class="am-u-lg-6 am-u-sm-12 stuapp-right">
                    <img src="./images/stu-img.png" alt="">
                </aside>
            </div>
        </section> -->

        <!-- 老师端 -->
        <!-- <section class="tea-box">
            <div class="doc-am-g maxwidth_1200 mg_auto">
                <aside class="am-u-lg-6 am-u-sm-12 teapp-left">
                    <img src="./images/tea-img2.png" alt="">
                </aside>
                <aside class="am-u-lg-6 am-u-sm-12 teapp-right">
                    <div class="teapp-right-top">
                        <h6>TEACHER   APP</h6>
                        <h2>老师端</h2>
                    </div>
                    <ul>
                        <li>
                            <span class="list-index">1</span>
                            精准的数据分析，帮助老师掌握全局
                            <span class="tea-text">实时查看班级的完成进度、个人完成进度、班级错题分析、 个人错题分析、<br/>学生排名等数据。</span>
                        </li>
                        <li>
                            <span class="list-index">2</span>
                            个性化投放学习任务，实时跟踪学习进度
                            <span class="tea-text">根据学生情况安排个性化学习任务，引导学生及时跟上学习进度。</span>
                        </li>
                        <li>
                            <span class="list-index">3</span>
                            在线的答疑平台，及时进行答疑解惑
                            <span class="tea-text">支持在线回答问题，帮助学生解决困难。</span>
                        </li>
                    </ul>
                </aside>
            </div>
        </section> -->

        <!-- 下载app -->
        <section class="download-box" id="todownload">
            <div class="maxwidth_1200 mg_auto">
                <div class="download-left">
                    <h2>请关注我们公众号</h2>
                    <p class="download-text">抢先体验课程</p>
                    <!-- <div class="download-btn">
                        <button onclick="window.open('https://itunes.apple.com/cn/app/id1403367613')">iOS下载</button>
                        <button onclick="window.location.href='https://www.symboltree.cn/download/apk/release/fuhaoshu.apk'">Android下载</button>
                    </div> -->
                </div>
                <div class="download-right">
                    <img src="./images/gzh.jpg" alt="">
                </div>
            </div>
        </section>

        <!-- 底部 -->
        <footer class="footer">
            <div class="maxwidth_1200 mg_auto footer-box">
                <ul class="fl first">
                    <li class="right-line"><a href="javascript:;">加入我们</a></li>
                    <li class="right-line">|</li>
                    <li class="right-line"><a href="javascript:;">联系我们</a></li>
                    <li class="right-line">|</li>
                    <li class="right-line"><a href="javascript:;">客服电话：<span class="tel">159-8084-8895</span>（周一至周五
                            9:00-18:00）</a></li>
                    <li class="right-line">|</li>
                    <li class="right-line"><a href="javascript:;">邮箱：info@learningdojo.cn</a></li>
                </ul>
            </div>
            <div class="maxwidth_1200 mg_auto footer-box">
                <ul class="fl second">
                    <li class="right-line"><img src="./images/police_icon.png" alt="" class="police-icon"></li>
                    <li class="right-line am-margin-left-0"><a href="http://www.beian.miit.gov.cn">粤ICP备18065442号</a></li>
                    <li class="right-line">|</li>
                    <li class="right-line"><a href="javascript:;">Copyright ©符号树 www.learningdojo.cn 深圳市芥菜种科技有限公司
                            版权所有</a></li>
                    <li class="right-line">|</li>
                    <li class="right-line"><a href="javascript:;">地址：深圳市南山区深圳湾生态科技园</a></li>
                </ul>
            </div>
        </footer>

        <div class="advisory">
            <div class="maxwidth_1200 mg_auto clearfix">
                <div class="hotline">
                    <span class="hotline_text">咨询热线： 159-8084-8895</span>
                </div>
                <div class="buttons">
                    <a href="#v_board2"
                        data-am-modal="{target: '#comments', closeViaDimmer: 0, width: 470, height: 300}">留言咨询</a>
                </div>
            </div>
        </div>

        <!-- 提交成功弹框 -->
        <div class="am-modal am-modal-no-btn" tabindex="-1" id="modal-confirm">
            <div class="am-modal-dialog modal-confirm">
                <div class="am-modal-hd">
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                </div>
                <h2>恭喜你！提交成功</h2>
                <div class="confirm-content">
                    <img src="./images/home/confirm-icon.png">
                    <div>
                        <p>姓名：<span>{{userName}}</span></p>
                        <p>手机：<span>{{userPhone}}</span></p>
                    </div>
                </div>
                <div class="confirm-tips">
                    <p><span>温馨提示：</span>我们的工作人员会在一个工作日内与您联系， 并保证不会对第三方泄露你的信息，请您放心。</p>
                </div>
                <div><button class="confirm-button" data-am-modal-close>我知道了</button></div>
            </div>
        </div>

        <!-- 留言 -->
        <div class="am-modal am-modal-no-btn" tabindex="-1" id="comments">
            <div class="am-modal-dialog modal-confirm">
                <div class="am-modal-hd">
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                </div>
                <h2>请留言获取更多的加盟资料！</h2>
                <div class="comments-input-box am-form">
                    <label class="name">姓名</label>
                    <section class="comments-aside">
                        <input v-model="userName" type="text" placeholder="输入真实姓名" />
                        <select v-model="sex">
                            <option v-bind:value='0'>先生</option>
                            <option v-bind:value='1'>女士</option>
                        </select>
                    </section>
                </div>
                <div class="comments-input-box am-form">
                    <div class="name">手机</div>
                    <section class="comments-aside">
                        <input v-model="userPhone" type="text" placeholder="输入手机号码" />
                    </section>
                </div>
                <div class="comments-input-box am-form">
                    <div class="name">留言</div>
                    <section class="comments-aside">
                        <textarea v-model="remark" rows="2"></textarea>
                    </section>
                </div>
                <div><button class="confirm-button" data-am-modal-close v-on:click='submitUserInfo'>提交留言</button></div>
            </div>
        </div>
        <!-- 回到顶部 -->
        <a href="##" data-am-smooth-scroll class="am-icon-btn am-icon-arrow-up am-active backtop-btn"></a>

    </div>
    <!-- <script type="text/javascript">
        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1275269194'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol +
            "s96.cnzz.com/z_stat.php%3Fid%3D1275269194%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
    </script> -->
</body>

<script src="./js/vue.js"></script>
<script src="./js/common.js"></script>

</html>