<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords"
        content="符号树app,在线教育,高中数学必修一,智能在线学习,网校,高中数学视频教学,高中学习,在线辅导高中数学必修一,在线辅导平台,初中辅导课,高中辅导课,数学辅导课,直播课,寒假学习计划" />
    <meta name="description"
        content="符号树是一个面向小学、初中、高中的智能化的学习平台。平台利用人工智能技术对学生的学习行为进行智能分析，构建知识图谱和能力模型，按需推荐针对性内容。同时，也为老师、学生和家长构建了三方互动平台，将学生的学习详情分析及时反馈给家长和老师。" />
    <title>符号树 让每个学生都享有优质的个性化教育</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="{{assets}}i/favicon.png">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{{assets}}i/app-icon72x72@2x.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="symboltree" />
    <meta name="msapplication-TileColor" content="#0e90d2">
    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <link rel="stylesheet" href="./css/amazeui.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" type="image/png" href="./images/favicon.png" sizes="60*60">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/amazeui.min.js"></script>
    <!--[if lte IE 9]>
        <p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，符号树暂不支持。 请 <a
        href="http://browsehappy.com/" target="_blank">升级浏览器</a>
        以获得更好的体验！</p>
    <![endif]-->
</head>

<body>
    <div id="app">
        <!-- 头部nav -->
        <header class="bg_white headfixed">
            <nav class="maxwidth_1200 headbox mg_auto doc-am-g">
                <a href="javascript:;" class="am-u-lg-2 am-u-sm-3 logo-img"></a>
                <ul class="headbox-list am-u-lg-5 am-u-sm-9">
                    <li><a href="index.html" class="am-monospace">公司介绍</a></li>
                    <li><a href="product.html" class="act am-monospace">产品介绍</a></li>
                    <li><a href="intro.html" class="am-monospace">招商合作</a></li>
                    <li><a href="joinus.html" class="am-monospace">加入我们</a></li>
                </ul>
                <p class="t_r dp_inblock headbox-p am-u-lg-4">
                    <!-- <span>技术合作</span> -->
                    <!-- <span class="tel-number">&nbsp;&nbsp;159 8084 8895</span> -->
                    <span class="headbox-appbtn">
                        <button
                            onclick="javascript:document.getElementById('todownload').scrollIntoView()">抢先体验</button>
                    </span>
                </p>

            </nav>
        </header>
        <div id="body-main" class="content-main chanpin">
            <img id="img-main" src="./images/chanpin.jpg" alt="">
        </div>
        <!-- <div class="bannerbox1 ps_r ">
            <div class="maxwidth_1200 doc-am-g mg_auto banner-content">
                <div class="mobile-banner-title dpn"></div>
                <img src="./images/home/book.png" class="mobile-banner-img dpn"/>
                <aside class="am-u-lg-6 am-u-sm-12 banner-left">
                    <div class="learningdojo-text1">LEARNINGDOJO</div>
                    <h3 class="free-get">免费领取</h3>
                    <h1 class="gradient line1">智能在线教育</h1>
                    <h1 class="gradient line2">一对一知识漏洞检测</h1>
                    <div class="barcode-zone">
                        <img src="./images/fhs-qinghua.jpg" alt="" id="teacherBarcode"/>
                        <div class="barcode-text">
                            <h3>扫描二维码</h3>
                            <h3>添加符号树清华老师</h3>
                        </div>
                    </div>
                </aside>
                <aside class="am-u-lg-6 book-container">
                    <div class="learningdojo-text2">LEARNINGDOJO</div>
                    <img src="./images/home/book.png" class="book-img"/>
                </aside>
                <img src="./images/home/plant.png" class="bottom-plant"/>
            </div>
        </div> -->

        <!-- 课程列表 -->
        <!-- <section class="maxwidth_1200 course-box" id="courseinfo">
            <div class="am-tabs" data-am-tabs>
                <ul class="am-tabs-nav am-nav am-nav-tabs">
                    <li class="am-active"><a href="#tab1" class="am-monospace">全部课程</a></li>
                    <li><a href="#tab2" class="am-monospace">预习课</a></li>
                    <li><a href="#tab3" class="am-monospace">同步强化课</a></li>
                    <li><a href="#tab4" class="am-monospace">专题课</a></li>
                </ul>
                <div class="am-tabs-bd">
                    <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                        <div class="no-course" v-if="courseList.length === 0">
                            <img src="./images/none.png" alt="">
                            <p>暂无课程，敬请期待</p>
                        </div>
                        <ul class="course-list" v-if="courseList.length !== 0">
                            <li v-for="(val,i) in courseList" :class="val.className" data-am-modal="{target: '#doc-modal-1', width: 470, height: 300}">
                                <a href="javascript:;">
                                    <div class="course-imgbox">
                                        <img class="" :src="val.image" alt=""/>
                                    </div>
                                    <div>
                                        <div class="course-content">
                                            <div class="tips">新</div>
                                            <p class="course-title">{{val.name}}</p>
                                            <div class="course-score">
                                                <span class="am-icon-star course-start yellow"></span>
                                                <span class="am-icon-star course-start yellow"></span>
                                                <span class="am-icon-star course-start yellow"></span>
                                                <span class="am-icon-star course-start yellow"></span>
                                                <span class="am-icon-star course-start grey"></span>
                                            </div>
                                            <div class="course-foot">
                                                <span class="progressnum">
                                                    共
                                                    <span>{{val.chapterNum}}</span>
                                                    讲
                                                </span>
                                                <span style="margin-left: 4px;">
                                                    <span>{{val.applyNum}}</span>
                                                    人已报名
                                                </span>
                                                <span class="course-price">
                                                    立即体验
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="am-tab-panel am-fade" id="tab2">
                        <div class="no-course" v-if="precourse.length === 0">
                            <img src="./images/none.png" alt="">
                            <p>暂无课程，敬请期待</p>
                        </div>
                        <ul class="course-list" v-if="precourse.length !== 0">
                            <li v-for="(val,i) in precourse" :class="val.className" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 400, height: 250}">
                                <a href="javascript:;">
                                    <div class="course-imgbox">
                                        <img class="" :src="'https://www.symboltree.cn/upload'+val.banner" alt=""/>
                                    </div>
                                    <div>
                                        <div class="course-content">
                                            <div class="tips">新</div>
                                            <p class="course-title">{{val.name}}</p>
                                            <div>
                                                <span class="am-icon-star course-start yellow"></span>
                                                <span class="am-icon-star course-start yellow"></span>
                                                <span class="am-icon-star course-start yellow"></span>
                                                <span class="am-icon-star course-start yellow"></span>
                                                <span class="am-icon-star course-start grey"></span>
                                            </div>
                                            <div class="course-foot">
                                                <span class="progressnum">
                                                    共
                                                    <span>{{val.chapterNum}}</span>
                                                    讲
                                                </span>
                                                <span style="margin-left: 4px;">
                                                    <span>{{val.applyNum}}</span>
                                                    人已报名
                                                </span>
                                                <span class="course-price">
                                                        立即体验
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="am-tab-panel am-fade" id="tab3">
                        <div class="no-course" v-if="synccourse.length === 0">
                            <img src="./images/none.png" alt="">
                            <p>暂无课程，敬请期待</p>
                        </div>
                        <ul class="course-list doc-am-g" v-if="synccourse.length !== 0">
                            <li v-for="(val,i) in synccourse" :class="val.className" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 400, height: 250}">
                                <a href="javascript:;">
                                    <div class="course-imgbox">
                                        <img class="" :src="'https://www.symboltree.cn/upload'+val.banner" alt=""/>
                                    </div>
                                    <div>
                                        <div class="course-content">
                                            <div class="tips">新</div>
                                            <p class="course-title">{{val.name}}</p>
                                            <div>
                                                <span class="am-icon-star course-start yellow"></span>
                                                <span class="am-icon-star course-start yellow"></span>
                                                <span class="am-icon-star course-start yellow"></span>
                                                <span class="am-icon-star course-start yellow"></span>
                                                <span class="am-icon-star course-start grey"></span>
                                            </div>
                                            <div class="course-foot">
                                                <span class="progressnum">
                                                    共
                                                    <span>{{val.chapterNum}}</span>
                                                    讲
                                                </span>
                                                <span style="margin-left: 4px;">
                                                    <span>{{val.applyNum}}</span>
                                                    人已报名
                                                </span>
                                                <span class="course-price">
                                                    立即体验
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="am-tab-panel am-fade" id="tab4">
                        <div class="no-course" v-if="expcourse.length === 0">
                            <img src="./images/none.png" alt="">
                            <p>暂无课程，敬请期待</p>
                        </div>
                        <ul class="course-list doc-am-g" v-if="expcourse.length !== 0">
                            <li v-for="(val,i) in expcourse" class="" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 400, height: 250}">
                                <a href="javascript:;">
                                    <div class="course-imgbox">
                                        <img class="" :src="'https://www.symboltree.cn/upload'+val.banner" alt=""/>
                                    </div>
                                    <div>
                                        <div class="course-content">
                                            <div class="tips">新</div>
                                            <p class="course-title">{{val.name}}</p>
                                            <div>
                                                <span class="am-icon-star course-start yellow"></span>
                                                <span class="am-icon-star course-start yellow"></span>
                                                <span class="am-icon-star course-start yellow"></span>
                                                <span class="am-icon-star course-start yellow"></span>
                                                <span class="am-icon-star course-start grey"></span>
                                            </div>
                                            <div class="course-foot">
                                                <span class="progressnum">
                                                    共
                                                    <span>{{val.chapterNum}}</span>
                                                    讲
                                                </span>
                                                <span style="margin-left: 4px;">
                                                    <span>{{val.applyNum}}</span>
                                                    人已报名
                                                </span>
                                                <span class="course-price">
                                                    立即体验
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- 视频介绍
        <div class="bg_fa video-introbox" id="ideainfo">
            <div class="maxwidth_1200 video-intro doc-am-g">
                <aside class="am-u-lg-6 intro-left">
                    <video style="object-fit:fill" preload="auto" controls="controls" poster="./images/poster.png" class="video-box">
                        <source src="http://fuhaoshu.oss-cn-shenzhen.aliyuncs.com/video/fuhaoshu_cartoon1.mp4" type="video/mp4">
                    </video>
                </aside>
                <aside class="am-u-lg-6 intro-right">
                    <div class="ps_r">
                        <h1>INTRODUCTION</h1>
                        <h4>符号树视频介绍</h4>
                    </div>
                    <p>两分钟带你走进“符号树”的世界</p>
                    <button onclick="javascript:document.getElementById('todownload').scrollIntoView()">立即体验</button>
                </aside>
            </div>
        </div> -->

        <!-- <div class="bg_fa video-introbox mobile dpn" id="ideainfo">
            <div class="maxwidth_1200 video-intro doc-am-g">
                <aside class="am-u-lg-6 intro-right">
                    <div class="ps_r">
                        <h1>INTRODUCTION</h1>
                        <h4>符号树视频介绍</h4>
                    </div>
                    <p>两分钟带你走进“符号树”的世界</p>
                    <button onclick="javascript:document.getElementById('todownload').scrollIntoView()">立即体验</button>
                </aside>
                <aside class="am-u-lg-6 intro-left">
                    <video preload="auto" controls="controls" poster="./images/poster.png" class="video-box"
                            playsinline 
                            x5-video-player-type="h5"
                            x5-video-player-fullscreen="true"
                            x5-video-orientation="portraint"
                        >
                        <source src="http://fuhaoshu.oss-cn-shenzhen.aliyuncs.com/video/fuhaoshu_cartoon1.mp4" type="video/mp4">
                    </video>
                </aside>
            </div>
        </div>  -->

        <!-- 理由
        <div class="maxwidth_1200 mg_auto">
            <div class="ps_r reason-top">
                <h1>HIGHTLIGHTS</h1>
                <h4>六大理由选择我们</h4>
            </div>
            <ul class="doc-am-g">
                <li class="am-u-lg-2 am-u-sm-4 reason-item">
                    <img src="./images/Group2.png" alt="">
                    <h6>智能诊断</h6>
                    <p>课前对学生学前情况进行精准定位</p>
                </li>
                <li class="am-u-lg-2 am-u-sm-4 reason-item">
                    <img src="./images/Group3.png" alt="">
                    <h6>视频精讲</h6>
                    <p>采用录播视频形式对知识点和例题进行讲解</p>
                </li>
                <li class="am-u-lg-2 am-u-sm-4 reason-item">
                    <img src="./images/Group4.png" alt="">
                    <h6>文档详讲</h6>
                    <p>交互式教学文档对知识点进行详细补充</p>
                </li>
                <li class="am-u-lg-2 am-u-sm-4 reason-item">
                    <img src="./images/Group5.png" alt="">
                    <h6>习题强化</h6>
                    <p>利用配套习题进行实战训练</p>
                </li>
                <li class="am-u-lg-2 am-u-sm-4 reason-item">
                    <img src="./images/Group6.png" alt="">
                    <h6>智能推送</h6>
                    <p>根据每个学生学习情况推送不同的习题</p>
                </li>
                <li class="am-u-lg-2 am-u-sm-4 reason-item">
                    <img src="./images/Group7.png" alt="">
                    <h6>及时答疑</h6>
                    <p>问答平台为学生及时解决困惑</p>
                </li>
            </ul>
        </div> -->

        <!-- 反馈
        <div class="feedback-box">
            <div class="maxwidth_1200 mg_auto">
                <div class="ps_r reason-top">
                    <h1>CUSTOMER REVIEWS</h1>
                    <h4>学员反馈</h4>
                </div>
                <img src="./images/Group8.png" alt="" class="feedback-img">
                <img src="./images/Group.png" alt="" class="feedback-logo">
            </div>
        </div> -->

        <!-- 下载app -->
        <section class="download-box" id="todownload">
            <div class="maxwidth_1200 mg_auto">
                <div class="download-left">
                    <h2>请关注我们公众号</h2>
                    <p class="download-text">抢先体验课程</p>
                    <!-- <div class="download-btn">
                        <button onclick="window.open('https://itunes.apple.com/cn/app/id1403367613')">iOS下载</button>
                        <button onclick="window.location.href='https://www.symboltree.cn/download/apk/release/fuhaoshu.apk'">Android下载</button>
                    </div> -->
                </div>
                <div class="download-right">
                    <img src="./images/gzh.jpg" alt="">
                </div>
            </div>
        </section>

        <!-- 底部 -->
        <footer class="footer">
            <div class="maxwidth_1200 mg_auto footer-box">
                <ul class="fl first">
                    <li class="right-line"><a href="javascript:;">加入我们</a></li>
                    <li class="right-line">|</li>
                    <li class="right-line"><a href="javascript:;">联系我们</a></li>
                    <li class="right-line">|</li>
                    <li class="right-line"><a href="javascript:;">客服电话：<span class="tel">159-8084-8895</span>（周一至周五
                            9:00-18:00）</a></li>
                    <li class="right-line">|</li>
                    <li class="right-line"><a href="javascript:;">邮箱：info@learningdojo.cn</a></li>
                </ul>
            </div>
            <div class="maxwidth_1200 mg_auto footer-box">
                <ul class="fl second">
                    <li class="right-line"><img src="./images/police_icon.png" alt="" class="police-icon"></li>
                    <li class="right-line am-margin-left-0"><a href="http://www.beian.miit.gov.cn">粤ICP备18065442号</a></li>
                    <li class="right-line">|</li>
                    <li class="right-line"><a href="javascript:;">Copyright ©符号树 www.learningdojo.cn 深圳市芥菜种科技有限公司
                            版权所有</a></li>
                    <li class="right-line">|</li>
                    <li class="right-line"><a href="javascript:;">地址：深圳市南山区深圳湾生态科技园</a></li>
                </ul>
            </div>
        </footer>

        <!-- 弹窗 -->
        <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
            <div class="am-modal-dialog qr-modal" style="background: #f0f4fb!important;">
                <div class="am-modal-hd">
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                </div>
                <div class="qr-left">
                    <h2>扫描二维码</h2>
                    <p>通过App了解并使用课程</p>
                    <img src="./images/home/app_qr.png">
                </div>
                <div class="qr-right"><img src="./images/home/answer.png" /> </div>
            </div>
        </div>

        <!-- 提交成功弹框 -->
        <div class="am-modal am-modal-no-btn" tabindex="-1" id="modal-confirm">
            <div class="am-modal-dialog modal-confirm">
                <div class="am-modal-hd">
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                </div>
                <h2>恭喜你！提交成功</h2>
                <div class="confirm-content">
                    <img src="./images/home/confirm-icon.png">
                    <div>
                        <p>姓名：<span>{{userName}}</span></p>
                        <p>手机：<span>{{userPhone}}</span></p>
                    </div>
                </div>
                <div class="confirm-tips">
                    <p><span>温馨提示：</span>我们的工作人员会在一个工作日内与您联系， 并保证不会对第三方泄露你的信息，请您放心。</p>
                </div>
                <div><button class="confirm-button" data-am-modal-close>我知道了</button></div>
            </div>
        </div>

        <div class="advisory">
            <div class="maxwidth_1200 mg_auto clearfix">
                <div class="hotline">
                    <span class="hotline_text">咨询热线： 159-8084-8895</span>
                </div>
                <div class="buttons">
                    <a href="#v_board2"
                        data-am-modal="{target: '#comments', closeViaDimmer: 0, width: 470, height: 300}">留言咨询</a>
                </div>
            </div>
        </div>

        <!-- 留言 -->
        <div class="am-modal am-modal-no-btn" tabindex="-1" id="comments">
            <div class="am-modal-dialog modal-confirm">
                <div class="am-modal-hd">
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                </div>
                <h2>请留言获取更多的加盟资料！</h2>
                <div class="comments-input-box am-form">
                    <label class="name">姓名</label>
                    <section class="comments-aside">
                        <input v-model="userName" type="text" placeholder="输入真实姓名" />
                        <select v-model="sex">
                            <option v-bind:value='0'>先生</option>
                            <option v-bind:value='1'>女士</option>
                        </select>
                    </section>
                </div>
                <div class="comments-input-box am-form">
                    <div class="name">手机</div>
                    <section class="comments-aside">
                        <input v-model="userPhone" type="text" placeholder="输入手机号码" />
                    </section>
                </div>
                <div class="comments-input-box am-form">
                    <div class="name">留言</div>
                    <section class="comments-aside">
                        <textarea v-model="remark" rows="2"></textarea>
                    </section>
                </div>
                <div><button class="confirm-button" data-am-modal-close v-on:click='submitUserInfo'>提交留言</button></div>
            </div>
        </div>

        <!-- 回到顶部 -->
        <a href="##" data-am-smooth-scroll class="am-icon-btn am-icon-arrow-up am-active backtop-btn"></a>

    </div>
    <!-- <script type="text/javascript">
        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1275269194'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol +
            "s96.cnzz.com/z_stat.php%3Fid%3D1275269194%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
    </script> -->
</body>

<script src="./js/vue.js"></script>
<script src="./js/common.js"></script>

</html>